* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  top: 0;
  background-color: rgb(0, 119, 255);
  color: #fff;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 2rem;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calendar {
  font-size: 1.5rem;
  display: flex;
  margin: auto 0;
}

.date {
  font-size: 3rem;
}

.month {
  padding: 0 1rem;
}

.day {
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
  font-size: 1.5rem;
}



.search {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}


input {
  padding: .5rem 2rem;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  gap: .5rem;
  margin-top: 1rem;
}

.taskList {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  overflow-y: scroll;
  max-height: 300px;
}


.taskList_items {
  display: flex;
  height: 3rem;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid gray;
  font-size: 1rem;
  justify-content: space-between;
  padding: .5rem;
}


.taskList_buttons {
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
}

button {
  color: #fff;
  border: none;
  cursor: pointer;
}

.addBtn {
  background-color: rgb(0, 119, 255);
  font-size: 1rem;
  padding: .5rem 1rem;
}


.deleteBtn {
  background-color: rgb(255, 162, 2);
  padding: .5rem;
}

.updateBtn {
  background-color: green;
  padding: .5rem;
}

@media screen and (min-width: 700px) {
  body {
    background: grey;
  }

  .App {
    width: 60vw;
    height: 90vh;
    margin: 2rem auto;
    background-color: #fff;
  }

  .content {
    height: 100%;
    margin: 0 auto;
  }
  
  .taskList_items {
    width: 50vw;
  }
}
